
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    box-sizing: border-box;
}

/*shared styles*/

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.dark-2 {
    color: #424242;
    font-size: 1rem;
}
.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    font-size: 1rem;
    font-weight: sami-bold;
    padding: 15px 20px;
    border-radius: 8px;
    border: none;

}

.banner {
    max-width: 1140px;
    margin: 0 auto;
}

.equal {
    width: 50%;
}

/*header related style*/
 header {
 }

/*nav related style*/

.navbar {
    align-items: center;
    margin:0 70px;
    justify-content: space-between;
}

.brand {
    font-weight: 700;
    font-size: 2rem;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
.nav-link {
    text-decoration: none;
}

/*banner*/


.banner-contant {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
}
.banner-title {
    font-size: 2.5rem;
    font-weight: 700;
}
.banner-details {
    font-size: .8rem;

}





.banner-img {
    max-width: 100%;
    margin: 20px auto;
}



/*team features styles*/

.teams {
    align-items: center;
    gap: 50px;
    margin: 75px auto;

}
.team-images {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 10px;
}
.team-images img {
    width: 100%;
}


.team-features {
    max-width: 570px;
}

.features-title {
    font-size: 2.5rem;
    font-weight: bold;
}
#quicl-list {
    color: #727272;
    font-size: 2.7rem;
    font-weight: 600;
}
#features {
    color: #FF900E;
    font-size: 2.7rem;
    font-weight: 700;

}


/*facts cards style*/

.fact-containers {
    margin-top: 30px;
}

.fact-card {
    display: flex;
    align-items: center;
    text-align: center;
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 10px 20px;
    border: 2px solid #FF900E;
    border-radius: 5px;
}


.fact-containers {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4rem;
}

.fact-num{
margin: 10px 0;
font-size: 2rem;
font-weight: 600;
}
.fact-name {
   margin: 10px 0;
   font-size: .7rem;
   font-weight: 600;
}


/*sponsors styles*/
.sponsors {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sponsors-details {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.sponsors-logo {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 20px;
}
.sponsors-logo img {
    filter: grayscale(100%);
}



/*features spcial styles*/


.speacial-card {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 15px 20px;
    border-radius: 5px;
}

.speacial-features {
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
    
}
.speacial-img img{
    max-width: 100%;
}

.special-title {
    border-left: 4px solid #FF900E;
    padding-left: 10px;
}

.speaclcard-title {
    font-size: 1rem;
    font-weight: 600;
}
.speaclcard-title h4 {
  margin: 0 0;
}

#btn-font1 {
    font-size: 2.5rem;
    font-weight: 800;
}

#btn-font2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.btn-speacial {
    position:sticky;
    margin-top: -150px;
    margin-left: -60px;
}
/*footer styles*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}











/*media quary*/
@media screen and (max-width:576px){
    .navbar , .teams   {
        flex-direction: column;
    }
   
    .team-images {
        grid-template-columns: repeat(1,1fr);
        
    }
    .team-features {
        max-width: 300px;
    }
    .teams {
        margin: 0 0;
    }

    .fact-containers , .sponsors-logo {
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 30px;
    }
    .feature-cards , .speacial-details , .speacial-card {
        justify-items: center;
    }
    .speacial-features {
        flex-direction: column-reverse;
    }
   .btn-speacial {
    margin-top: 0;
    margin-left: 0;
   }

    
}